<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns="http://schemas.android.com/apk/res/androoid"
		id="cordova-plugin-rtsp-vlc"
		version="2.0.0">

		<name>vlcstreamplayer</name>
		<description>VLC Stream Player</description>
		<author>Peng Yanbing</author>
		<license>Apache 2.0</license>
		<keywords>cordova, VLC, stream, rtsp, rtp</keywords>

		<js-module src="www/PybVlcStreamPlayer.js" name="PybVlcStreamPlayer">
			<clobbers target="PYB.vlcStreamPlayer" />
		</js-module>
        
		<!-- ES6 promise polyfill -->
    	<dependency id="es6-promise-plugin" version="4.1.0" />


        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="PybVlcStreamPlayerHelper">
                    <param name="android-package" value="org.apache.cordova.PybStreamPlayer.PybVlcStreamPlayerHelper"/>
                </feature>
                <resource-file src="src/android/libs/videoviewstreamplayer.aar" target="libs/videoviewstreamplayer.aar" />
            </config-file>
            
            <config-file target="AndroidManifest.xml" parent="app/src/main/">
                <uses-permission android:name="android.permission.INTERNET" />
            </config-file>
            
            <source-file src="src/android/PybVlcStreamPlayerHelper.java" target-dir="src/org/apache/cordova/PybStreamPlayer/"/>
            
            <framework src="src/android/videoviewstreamplayer.gradle" custom="true" type="gradleReference" />
            <resource-file src="src/android/libs/videoviewstreamplayer.aar" target="libs/videoviewstreamplayer.aar" />
        </platform>
        
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="PybVlcStreamPlayerHelper">
                    <param name="ios-package" value="PybVlcStreamPlayerHelper"/>
                </feature>
                <feature name="PybVlcStreamPlayerViewController">
                    <param name="ios-package" value="PybVlcStreamPlayerViewController" />
                </feature>
            </config-file>
 	          
            <header-file src="src/ios/PybVlcStreamPlayerHelper.h" />
            <source-file src="src/ios/PybVlcStreamPlayerHelper.m" />
            <header-file src="src/ios/PybVlcStreamPlayerViewController.h" />
            <source-file src="src/ios/PybVlcStreamPlayerViewController.m" />
            <framework src="MobileVLCKit" type="podspec" spec=">1.0.0" />
            <framework src="/usr/lib/libbz2.dylib" />
            <framework src="/usr/lib/libiconv.dylib" />
            <framework src="/usr/lib/libstdc++.dylib" />
            <framework src="/usr/lib/libz.dylib" />
            <framework src="Security.framework" />
            <framework src="QuartzCore.framework" />
            <framework src="OpenGLES.framework" />
            <framework src="CoreText.framework" />
            <framework src="CFNetwork.framework" />
            <framework src="AudioToolbox.framework" />
            <framework src="CoreAudio.framework" />
            <framework src="UIKit.framework" />
            <framework src="Foundation.framework" />
        </platform>
</plugin>